{% extends 'base.html'%}


    {% block principal%}
    <title>Inicio</title>
  <div class="container">
    <center> <h1>Inicio</h1></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
    <center><p>HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO HELLO</p></center>
</div>
    {% endblock %}
