{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<header>
	<div class="container">
		<nav class="navegacion">
			<ul class="menu">
				<li><a href="{% url 'inicio' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></li>
				<li><a href="#"><strong>PROXIMOS</strong></a></li>
				<li><a href="#"><strong>EMPRESAS</strong></a></li>
				<li><a href="#"><strong>NOSOTROS</strong></a></li>
				{% if user.is_authenticated %}
				<li><a href="#"><strong>{{ user.username }}</strong></a></li>
				<div class="opciones">
						<ul>
					<li><a href="{% url 'logout' %}"><img src="{% static 'images/salir.png' %}" alt=""></a></li>
					<li><a href="{% url 'nuevo_evento' %}"><img src="{% static 'images/agregar.png' %}" alt=""></a></li>
					<li><a href="{% url 'lista_eventos' %}"><img src="{% static 'images/visualizar.png' %}" alt=""></a></li>
				</ul>
					</div>
				{% else %}
				<li><a href="{% url 'login' %}"><strong>INICIAR SESSION</strong></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
		
			
        {% block principal %}

        {% endblock %}
	</header>
<body>
	<div class="container">
			<footer>
					<div class="textofooter">
							<p id="p1">Todos los derechos reservado 2019</p>
							<p id="p1">Esta pagina es de demostracion para nuestro projecto Event-View.</p>
							<p id="p1">Integrantes del grupo: Andres Olivero, Daniel Ortiz y Mauricio Vergara.</p>
					</div>
					<div class="redesfooter">
						<ul>
							<li><a href="#"><img src="{% static 'images/facebook.png' %}" alt=""></a></li>
							<li><a href="#"><img src="{% static 'images/instagram.png' %}" alt=""></a></li>
							<li><a href="#"><img src="{% static 'images/twitter.png' %}" alt=""></a></li>
						</ul>
					</div>
				</footer>
</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>